<?xml version="1.0" encoding="UTF-8"?>
<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="Mozikit"
    UpgradeCode="F37F90D3-0D35-4F24-8B0F-521F996F4B8C"
    Manufacturer="Mozikit"
    Language="1033"
    Codepage="1252"
    Version="__PRODUCT_VERSION__">
    <Package
      Id="*"
      InstallerVersion="500"
      Compressed="yes"
      InstallScope="perMachine"
      Manufacturer="Mozikit"
      Description="Visual workflow manager built with PySide6."
      Languages="1033" />

    <MajorUpgrade
      Schedule="afterInstallInitialize"
      DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit." />

    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLFOLDER" Name="Mozikit" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Mozikit" />
      </Directory>
    </Directory>

    <Feature Id="MainFeature" Title="Mozikit" Level="1" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentGroupRef Id="MozikitFiles" />
      <ComponentRef Id="ApplicationShortcuts" />
    </Feature>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcuts" Guid="A67F526E-7C7D-420B-8A10-1A2C6A247CB3">
        <Shortcut
          Id="StartMenuShortcut"
          Name="Mozikit"
          Description="Launch Mozikit"
          Target="[INSTALLFOLDER]Mozikit.exe"
          WorkingDirectory="INSTALLFOLDER"
          Icon="MozikitIcon"
          IconIndex="0" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Mozikit" Name="HasStartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Property Id="ARPPRODUCTICON" Value="MozikitIcon" />
    <Icon Id="MozikitIcon" SourceFile="mozikit.ico" />
    <Property Id="ARPHELPLINK" Value="https://github.com/mozikit/mozikit" />
  </Product>
</Wix>
